@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

/*
.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.alegreya-sans-thin {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.alegreya-sans-light {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.alegreya-sans-regular {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.alegreya-sans-medium {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.alegreya-sans-bold {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.alegreya-sans-extrabold {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.alegreya-sans-black {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.alegreya-sans-thin-italic {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.alegreya-sans-light-italic {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.alegreya-sans-regular-italic {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.alegreya-sans-medium-italic {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.alegreya-sans-bold-italic {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.alegreya-sans-extrabold-italic {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.alegreya-sans-black-italic {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 900;
  font-style: italic;
}
*/

*{
    margin: 0;
    padding: 0;
}

/* navbar {
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: #fffcf3;
    border-bottom: 1px solid #fef4d8;
    justify-content: space-between;
    position: relative;
}


navbar img {
    height: 50px;
    width: auto;
    margin-right: auto;
}


} */

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px auto;
    padding: 20px;
    max-width: 900px;
}

h2 {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 45px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 45px;
    color: #E2AE99;
}

h3 {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #E2AE99;
}

p{
    font-family: "Alegreya Sans", sans-serif;
    color: rgb(138, 138, 138);
    margin: 10px;
    font-size: 20px;
}

strong {
  color: #E2AE99;
}

/*header*/
h1 {
    font-family: "Abril Fatface", serif;
    font-size: 50px;
    color: #E2AE99;
    letter-spacing: 3px;
    margin: 10px;
}
.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header li {
    margin: 0;
}

.header a {
    text-decoration: none;
    color: #afafaf;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.header a:hover {
    text-decoration: underline;
}



/*tratamientos*/

.tratamientos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.tratamientos .card-containerlista {
  text-align: center;
  padding: 20px;
  margin: 0;
  background-color: #f8f9fa;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.container .card img {
  width: 40%;
  height: auto;
  margin: 10px;
  border-radius: 5px;
}

.card-texto {
  display: flex;
  padding: 5px;

}


/*aparatología*/
.aparatologia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.aparatos {
  border: 1px solid #ccc;
  padding: 10px;
  width: 30%;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.aparatologiatext {
  text-align: center;
}





/*footer*/
footer {
  background-color: #FCDCC5;
  color: #333; /* Cambié el color de texto a un color que contraste mejor con el fondo */
  padding: 10px 0;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  position: relative; /* Asegura que el contenedor de pie de página ocupe el ancho completo */
}

.footer-content {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.footer-content p {
  margin: 0 0 10px 0;
  padding: 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-icons a img {
  width: 30px;
  height: 30px;
}

/* Responsive adjustments */
@media (min-width: 600px) {
  .footer-content {
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }
}






.whatsapp-container {
  position: fixed; /* Fija el contenedor en la posición */
  bottom: 20px; /* Espacio desde la parte inferior */
  right: 20px; /* Espacio desde la parte derecha */
  text-align: center;
  transition: transform 0.4s ease;
}

.whatsapp-icon, .instagram-icon {
  display: inline-block;
}

.whatsapp-icon img {
  width: 40px;
  height: 40px;
  margin: 5px;
}

.instagram-icon img {
  width: 40px;
  height: 40px;
  margin: 5px;

}

.whatsapp-container:hover {
  transform: scale(1.2);
}

.card, .aparatos {
  transition: transform 0.5s ease;
}

.card:hover, .aparatos:hover {
  transform: scale(1.05);
}